@media (min-width: 481px) {

}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .canvas-nav-wrap {
        display: none;
    }

    .btn-menu {
        display: none;
    }

    .standard_design {
        .header-wrap .header-ct-left {
            margin-left: 0px;
        }
    }
    .standard_design .header.tfl-menu-has-container{
        .header-wrap .header-ct-left {
            margin-left: 0px;
        }
    }
}

@media (min-width: 1600px) {
    .standard_design {
        .header-wrap .header-ct-left {
            margin-left: 150px;
        }
    }
    .tp-bullets .tp-bullet {
        left: 150px !important;
        top: -87px !important;
    }

    .wrap-menu-on-slider {
        right: -220px;
    }

}

@media (max-width: 1650px) {
    .main-header-contact {
        .text-phone {
            padding: 14px 15px;

            p {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .header-wrap {
        .header-ct-left {
            margin-right: 60px;
        }
    }

    .main-header-contact .text-phone a span {
        font-weight: 400;
        font-size: 20px;
    }
}

@media (max-width: 1365px) {
    .portfolio-items.grid-3-columns,
    .portfolio-items.grid-4-columns,
    .portfolio-items.grid-5-columns {
        justify-content: center;

        .portfolio-item {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            width: 33.33333%;
        }
    }
}

@media (max-width: 1280px) {
    .tf-carousel-box .owl-prev {
        left: -12px !important;
    }

    .tf-carousel-box .owl-next {
        right: -12px !important;
    }
}

@media (max-width: 1199px) {
    .standard_design .inner-header .header-wrap{
        justify-content: space-between;
        width: 100%;
    }
    .main-content {
        padding: 100px 0;
    }

    .main-header-contact {
        .text-phone {
            padding: 11px 4px;

            p {
                margin-bottom: 15px;
                margin-top: 15px;
                color: @black!important;
            }

            a span {
                font-size: 16px;
                color: @black!important;
            }
        }
    }

    .header-wrap {
        .header-ct-left {
            margin: 0;
            float: left;
        }
    }

    .tf-custom-header {
        background: #fff;

        .tf-container {
            position: relative;
            z-index: 1;
        }
    }

    .canvas-nav-wrap {
        .main-header-contact {
            display: flex !important;
            float: none;
            padding: 20px 20px;
            position: relative;

            .text-phone {
                margin-right: 10px;
                color: @black;
                a{
                    color: @black;
                }
            }
        }
    }


    .blog-formatted .item .format-video .featured-post {
        .entry-meta {
            display: none;
        }
    }

    body.single {
        .featured-post .entry-meta {
            bottom: 20px;
        }
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }


    .tfl-pricing-table.grid-4-columns .tfl-pricing-plan-outter {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .featured-post .entry-meta {
        bottom: 20px;
        left: 20px;
        right: 20px;
        transform: unset;
        top: unset;
    }

    .blog-grid .featured-post .entry-meta {
        bottom: 10px;
    }

    .h-100-on-1199 {
        margin-bottom: 0;
        .elementor-spacer-inner {
            height: 100px !important;
        }
    }

    .h-20-on-1199 {
        .elementor-spacer-inner {
            height: 20px !important;
        }
    }

    footer {
        .main-ft-bg {
            background-image: unset !important;
        }

        .elementor-container {
            flex-wrap: wrap;
        }

        .elementor-image-gallery {
            max-width: 300px;
        }

        .tfl-column1,
        .tfl-column2,
        .tfl-column3,
        .tfl-column4,
        .tfl-column5 {
            margin-bottom: 50px;
        }

        .tfl-column1 {
            width: 50% !important;

            order: 2;

            .elementor-widget-container {
                max-width: 300px;
            }
        }

        .tfl-column5 {
            width: 50% !important;
            order: 2;
        }

        .tfl-column2,
        .tfl-column3,
        .tfl-column4 {
            width: 33.33333% !important;
            order: 1;
        }
    }

    .btn-menu {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: #fff;

            g {
                fill: #fff;
            }
        }

        .menu-open {
            display: block;
            width: 100%;
            height: 100%;
        }

        .menu-close {
            height: 30px;
            width: 30px;
            margin: auto;
            display: none;
        }
    }

    .tf-custom-header {
        .btn-menu svg g {
            fill: @black;
        }
        .dark-mode-yes{
            .btn-menu svg g {
                fill: #fff;
            }
        }
    }

    body.menu-opened {
        overflow: hidden;

        .btn-menu {
            .menu-open {
                display: none;
            }

            .menu-close {
                display: block;
            }
        }

        .canvas-nav-wrap .inner-canvas-nav {
            left: 0;
        }

        .canvas-nav-wrap .overlay-canvas-nav {
            opacity: 1;
            visibility: visible;
        }
    }

    .canvas-nav-wrap .overlay-canvas-nav {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100vh;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .canvas-nav-wrap .inner-canvas-nav {
        width: 270px;
        height: 100vh;
        top: 0;
        left: -400px;
        position: fixed;
        background-color: #fff;
        z-index: 999999;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        transition: all .3s;

        #logo-mobi {
            text-align: center;
            padding: 20px;
            background: #fff;
            margin-bottom: -1px;
        }

        .mainnav_canvas {
            padding: 20px 20px;
            background: #fff;
            font-family: @menu_font_family;
            & > ul > li > a {
                text-transform: uppercase;
                font-weight: 500 !important;
            }

            ul.sub-menu{
                ul.sub-menu{
                    ul.sub-menu {
                        padding: 0 !important;
                        min-width: auto;
                    }
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                opacity: 1;
                transform: unset;
                visibility: visible;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: solid 1px #f7f7f7;
                    flex-wrap: wrap;
                    position: relative;

                    a {
                        padding: 12px 0;
                        color: @black;
                        text-decoration: none;
                        line-height: 1;
                        font-style: normal;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

                ul.sub-menu {
                    width: 100%;
                    background: transparent;
                    box-shadow: none;
                    padding-left: 20px;
                    transition: unset;
                }
            }

            .btn-submenu {
                font-weight: 900;
                font-family: "Font Awesome 5 Free";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                content: "\f067";
                color: @primary_color;
                text-align: center;
                cursor: pointer;
                width: 15px;
                height: 35px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;

                &.active {
                    i {
                        &:before {
                            content: "\f068" !important;
                        }
                    }
                }
            }
        }
    }


    .header-wrap {
        justify-content: space-between;
    }

    .header-ct-right .nav-wrap {
        display: none;
    }

    .page-header .page-title-heading:after,
    .main-header-contact,
    #header .icon-header2,
    #header .icon-header,
    .show-search {
        display: none;
    }
}

@media (max-width: 1024px) {
    .service-grid {
        .services-item {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }

        &.grid-4-columns{
            &.style3 {
                .service-item-inner {
                    border-right: none;
                }
            }
        }
    }

    .form-subscriber {
        padding: 50px 35px 30px 35px;
    }

    .elementor-widget-tfcounter .elementor-widget-container .flat-content {
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .themesflat_header_wrap.light-mode-yes{
        background: #fff;
        .btn-menu svg {
            fill: @black;
            g{
                fill: @black;
            }
        }
    }

    .tf-testimonial-carousel .owl-dots{
        width: 100%;
        text-align: center;
    }

    .vertical-arrows .tf-testimonial-carousel .owl-dots{
        width: auto;
    }

    .info-contact {
        max-width: 100%;
        margin-bottom: 50px;

        & > div {
            flex-direction: column;
            margin-bottom: 25px;

            .title {
                width: auto;
                margin-bottom: 8px;
            }

            ul.list-social {
                width: auto;
                text-align: left;
            }

            strong {
                line-height: 1.3;
                margin-top: 0;
                width: auto;
                font-size: 16px;
            }
        }
    }

    .main-content {
        padding: 80px 0;
    }
    .show-on-991 {
        display: block;
    }

    .blog-formatted .item .featured-post .meta-left {
        min-width: auto;
    }

    .portfolio-items.grid-3-columns,
    .portfolio-items.grid-4-columns,
    .portfolio-items.grid-5-columns {
        .portfolio-item {
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }
    }

    .wrap-blog-articles {
        max-width: 100%;
    }

    .w-25-percent,
    .w-75-percent {
        width: 100% !important;
    }


    .hide-bg-991 {
        background-image: unset !important;
    }

    .tfl-pricing-table .tfl-pricing-plan-outter {
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .tfl-pricing-table .tfl-pricing-plan-outter .tfl-grid-item {
        padding: 69px 16px 49px 16px;
    }

    .title-video {
        display: none;

    }

    .elementor-widget-video {
        padding: 12px;
    }    

    .elementor-custom-embed-play .eicon-play {
        font-size: 24px;
    }

    .has-overlay:before {
        top: 4px;
        left: 4px;
    }

    .has-overlay .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
        top: 50%;
    }

    .owl-carousel .owl-stage {
        display: flex;
        flex-wrap: wrap;

        .owl-item .item {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: auto;
                max-width: 100%;
                margin: auto;
            }
        }
    }

    .main-header-contact,
    .icon-header {
        display: none;
    }

    .blog-grid.columns-3,
    .blog-grid.blog-three-columns {
        justify-content: center;

        .item {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }

    .featured-post .entry-meta .meta-left .post-date {
        margin-right: 0;
    }

    .featured-post .entry-meta .meta-left {
        min-width: 100%;
    }

}

@media (max-width: 768px) {
    .block-quote .elementor-widget-container {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .blog-grid{
        &.grid-2-columns,
        &.columns-2,
        &.blog-two-columns{
            .item{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .tf-team.style-1 {
        margin-bottom: 30px;
    }

    .tfl-col-7 {
        order: 1;
        width: 100% !important;
        margin-bottom: 50px;
        text-align: left;
    }

    .tfl-col-5 {
        width: 100% !important;
        order: 2;
    }

    .standard_design #comments .comment-list-wrap ol .children,
    #comments .comment-list-wrap ol {
        .children {
            margin-left: 40px;
        }

        article.comment_wrap {
            background: #fff;
            padding: 20px;
            margin-bottom: 30px;

            .gravatar {
                margin-bottom: 15px;
            }

            .comment_content {
                width: 100%;
                padding: 0;
                margin-bottom: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    body.single-portfolios {
        .entry-content {
            .elementor-widget-image {
                .elementor-widget-container {

                    margin: 0 !important;

                    img {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }


    .blog-formatted .item .format-quote .main-post {
        padding: 30px;
    }

    .wrap_comment_reply .comment_reply,
    .wrap_comment_reply .comment_edit {
        margin-right: 15px;
    }

    .tfl-pricing-table .tfl-pricing-plan-outter {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .tfl-pricing-table .tfl-pricing-plan-outter .tfl-grid-item {
        padding: 69px 16px 49px 16px;
    }

    .blog-grid.columns-3,
    .blog-grid.blog-three-columns {
        justify-content: center;

        .item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .copyright-text {
        text-align: center;
    }

    footer ul#menu-copyright {
        justify-content: center;
    }
    

    .themesflat-top {
        .container-inside {
            display: block;
            justify-content: unset;
        }

        .content-left {
            display: flex;  
            align-items: center; 
            justify-content: space-between;
            padding: 20px 0;
        }

        .content-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .list-items .list-icon:after {
        display: none;
    }

    .tf-imagebox {
        .content {
            left: 15px;
            right: 15px;
        }
    }
}

@media (max-width: 600px) {


    .service-grid {
        .services-item {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }

    .portfolio-items.grid-3-columns,
    .portfolio-items.grid-4-columns,
    .portfolio-items.grid-5-columns {
        .portfolio-item {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }

}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
    .standard_design #comments .comment-list-wrap ol .children,
    #comments .comment-list-wrap ol .children {
        margin-left: 25px;
    }

    .widget_block h2 {
        font-size: 18px;
    }

    .form-subscriber {
        padding: 50px 15px 30px 15px;

        .wrap-image {
            margin-right: 0;
            margin-bottom: 20px;
        }

        .heading-form {
            flex-direction: column;
        }

        .wrap-content {
            width: 100%;
            text-align: center;
        }
    }

    .wrap-menu-on-slider {
        margin-top: 0;
        padding: 20px 0;
        background: #040405;

        .elementor-widget-wrap {
            justify-content: center;
        }
    }

    .elementor-widget-wp-widget-nav_menu .menu-slider-menu-container .menu {
        padding-left: 10px;

        li {
            margin-right: 20px;
        }
    }

    #comments .comment-list-wrap ol article.comment_wrap .comment_content .comment_meta {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        .comment_author {
            margin-bottom: 10px;
        }
    }


    .our-testimonials .owl-carousel .owl-item .item .elementor-widget-text-editor .elementor-widget-container p {
        font-size: 18px;
        line-height: 1.5;
    }

    .wpcf7-form .wrap-btn-submit {
        margin-top: 20px;
    }



    .blog-formatted .item .format-quote .main-post .featured-post .quote {
        .right {
            width: ~"calc(100% - 78px)";
        }

        .left {
            width: 60px;
            height: auto;
        }
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    footer {
        .tfl-column1 {
            width: 100% !important;
            order: 1;
        }

        .tfl-column2,
        .tfl-column3,
        .tfl-column4,
        .tfl-column5 {
            width: 100% !important;
        }
    }
}


@media (max-width: 479px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
    .themesflat-top {
        display: none;
    }
}

@media (max-width: 1440px) and (min-width: 481px) {
    body.page-home-2{
        .elementor-widget-wp-widget-nav_menu .menu-slider-menu-container .menu li a{
            color: @black;
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
}

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width: 768px) {
}

@media (max-width: 991px) and (min-width: 576px) {
}

@media (max-width: 767px) and (min-width: 576px) {
}



@media (max-width: 480px) and (min-width: 376px) {
}